// Use variables
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixins;

.btn,
.sub-btn {
    font-family: v.$font-josefin;
    color: v.$color-white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-p {
    font-weight: v.$fw-semibold;
    font-size: 17px;
    background-color: v.$color-btn;
}

.sub-btn {
    font-weight: v.$fw-medium;
    font-size: 12px;
    background-color: v.$color-sub-btn;
}