// Use variables
@use "../abstracts/variables" as v;
@use"../abstracts/mixins" as mixins;

.btn,
.sub-btn {
    font-family: v.$font-josefin;
    color: v.$color-white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mixins.hover-bounce;

    &:hover {
        transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
        opacity: 1;
        filter: brightness(1);
    }
}

.btn-p {
    font-weight: v.$fw-semibold;
    font-size: 17px;
    letter-spacing: 2%;
    background-color: v.$color-btn;
}

.sub-btn {
    font-weight: v.$fw-medium;
    font-size: 12px;
    background-color: v.$color-sub-btn;
}