@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

#grid-default {
    .page-header {
        @include mixin.page-header();
    }

    .catalog-toolbar {
        @include mixin.catalog-toolbar();
        @include mixin.dropdown();
    }
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 53px 81px;
        @include mixin.tabs();
        @include mixin.transition-regular();
        .product-card {
            &__media {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                aspect-ratio: calc(270/280);
                background-color: v.$color-bg-card;
                position: relative;
                cursor: pointer;
                @include mixin.transition-regular();

            }

            &__actions {
                position: absolute;
                display: flex;
                flex-direction: column;
                bottom: 20px;
                left: 10px;
                opacity: 0;
                @include mixin.transition-regular();
            }

            &:hover .product-card__media {
                background-color: rgba(235, 244, 243, 1);
            }

            &:hover .product-card__actions {
                opacity: 1;
            }

            &:hover .product-card__img {
                transform: scale(0.9);
            }

            &__action {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                @include mixin.transition-regular();

                &:hover {
                    background-color: v.$color-bg-white;
                }
            }

            &__img {
                width: 60%;
                height: 60%;
                object-fit: contain;
                @include mixin.transition-regular();
            }

            &__body {
                text-align: center;
                color: v.$color-title;
                margin-top: 18px;
            }

            &__title {
                font-size: 18px;
                line-height: 100%;
                margin-bottom: 8px;
            }

            &__swatches {
                display: flex;
                gap: 5px;
                justify-content: center;
            }

            &__dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-bottom: 15px;

                &--orange {
                    background-color: rgba(222, 144, 52, 1);
                }

                &--pink {
                    background-color: rgba(236, 66, 162, 1);
                }

                &--purple {
                    background-color: rgba(133, 104, 255, 1);
                }
            }

            &__prices {
                display: flex;
                gap: 10px;
                justify-content: center;
                font: v.$fw-regular v.$fs-small v.$font-josefin;
                line-height: 100%;

                &-old {
                    color: v.$color-muted;
                    text-decoration: line-through;
                }
            }


        }
    }

    // list product
    .product-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        @include mixin.tabs();
        @include mixin.transition-regular();
        .product-row {
            display: flex;
            align-items: center;
            gap: 32px;
            padding: 19px;
            box-shadow: 0px 0px 25px 5px rgba(246, 246, 253, 0.5);
            cursor: pointer;
            @include mixin.transition-regular();

            &:hover {
                transform: scale(1.01);
                box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
            }

            &__media {
                max-width: 313px;
                width: 100%;
                max-height: 217px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__content {
                &-head {
                    width: 50%;
                    display: flex;
                    gap: 18px;
                    margin-bottom: 15px;
                    align-items: center;
                }

                &-title {
                    font: v.$fw-bold 20px v.$font-josefin;
                    line-height: 100%;
                    color: v.$color-title;
                }

                &-meta {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    margin-bottom: 12px;
                }

                &-prices {
                    font: v.$fw-regular v.$fs-body v.$font-josefin;
                    color: v.$color-title;
                    display: flex;
                    gap: 10px;

                    &--old {
                        color: v.$color-muted;
                        text-decoration: line-through;
                    }
                }

                &-rating {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                &-desc {
                    font: v.$fw-regular 18px v.$font-josefin;
                    line-height: 31px;
                    color: v.$color-sub-text-color;
                    width: 80%;
                    margin-bottom: 30px;
                }

                &-actions {
                    display: flex;
                    gap: 20px;
                }

                &-action {
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 27.61px 0px rgba(0, 0, 0, 0.05);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mixin.transition-regular();

                    &:hover {
                        box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
                    }
                }

            }

            &__swatches {
                display: flex;
                gap: 6px;

                .product-row__dot {
                    width: 12.15px;
                    height: 12.15px;
                    border-radius: 50%;

                    &--orange {
                        background-color: v.$color-bg-dot-orange;
                    }

                    &--pink {
                        background-color: v.$color-bg-dot-pink;
                    }

                    &--purple {
                        background-color: v.$color-bg-dot-purple;
                    }
                }

            }
        }
    }

    .logo-brands {
        @include mixin.brands();
    }



    @media (max-width:992px) {
        .product-grid {
            grid-template-columns: repeat(3, 1fr);
        }

        .product-list {
            .product-row {
                flex-direction: column;
            }
        }
    }

    @media (max-width:768px) {
        .product-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    @media (max-width:576px) {
        .product-list {
            .product-row {
                &__content {
                    &-head {
                        width: 100%;
                    }

                    &-desc {
                        width: 100%;
                    }
                }

            }
        }

    }

    @media (max-width: 375px) {
        .product-grid {
            grid-template-columns: 1fr;
        }
    }
}
