// Use variables
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixins;

header {

    .top-bar {
        background-color: v.$color-bg-top-header;
        color: v.$color-white;
        font-family: v.$font-josefin;
        height: 44px;
        font-weight: v.$fw-semibold;
        font-size: v.$fs-body;
        line-height: 100%;
    }

    .contact-info {
        gap: 48px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            display: flex;
            align-items: center;
            transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &:hover {
                transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
                opacity: 1;
                filter: brightness(1);
            }

            &-icon {
                margin-right: 10px;
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .user-actions {
        gap: 16px;

        &__item {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 1000;

            .user-actions__trigger {
                display: flex;
                align-items: center;
                cursor: pointer;
                // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                @include mixins.hover-bounce();
            }

            &:hover .user-actions__trigger {
                transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
                opacity: 1;
                filter: brightness(1);
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                @include mixins.hover-bounce();

                &:hover {
                    transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
                    opacity: 1;
                    filter: brightness(1);
                }
            }

            svg {
                padding-bottom: 3px;
            }

            .dropdown-menu {
                position: absolute;
                top: 18px;
                color: black;
                min-width: 150px;
                background-color: v.$color-bg-main-header;
                display: none;

                &__item {
                    padding: 15px 10px;
                    cursor: pointer;
                    margin-bottom: 2px;
                }

                &__item:hover {
                    background-color: v.$color-bg-top-header;
                    color: v.$color-white;
                }
            }

            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }

            // @media (max-width: v.$breakpoints-md) {
            //     .active {
            //         display: block;
            //     }
            // }
        }

    }



    // Main header
    .main-header {
        display: flex;
        height: 78px;
        padding: 19px 10px;
        align-items: center;
        position: relative;

        .logo {
            font-family: v.$font-josefin;
            font-size: v.$fs-h3;
            font-weight: v.$fw-bold;
            display: flex;
            align-items: center;
            @include mixins.hover-bounce;

            &:hover {
                transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
                opacity: 1;
                filter: brightness(1);
            }
        }

        .nav {
            display: flex;
            align-items: flex-end;
            margin-left: 88px;
            gap: 35px;

            &__item {
                font-family: v.$font-lato;
                font-size: v.$fs-body;
                font-weight: v.$fw-regular;
                cursor: pointer;

                svg {
                    display: inline-block;
                    color: black;
                    margin-left: 2px;
                }

                &:hover>a,
                &:hover svg {
                    color: red;
                }

                position: relative;

                .dropdown-menu {
                    position: absolute;
                    min-width: 100px;
                    top: 25px;
                    left: -10px;
                    background-color: v.$color-bg-top-header;
                    color: v.$color-white;
                    display: none;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    min-width: 150px;

                    &__item {
                        padding: 15px;


                        &:hover {
                            background-color: v.$color-bg-main-header;
                            color: #0D0E43;
                        }
                    }
                }

                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }

            .contact-info {
                display: none;
            }
        }

        .search-box {
            height: 40px;
            overflow: hidden;
            display: flex;
            align-items: center;
            position: absolute;
            right: 10px;

            input {
                width: 266px;
                height: 100%;
                border: 2px solid rgba(231, 230, 239, 1);
                border-right: 0;
            }

            .btn {
                padding-left: 13px;
                padding-right: 13px;
            }
        }

        .btn.btn--toggle {
            display: none;
        }
    }

    .more-option {
        cursor: pointer;
        display: none;
        border: 1px solid rgba(231, 230, 239, 1);
        position: absolute;
        right: 10px;
        @include mixins.hover-bounce;

        &:hover {
            transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
            opacity: 1;
            filter: brightness(1);
        }
    }

    // search popup
    .search-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(220, 220, 220, 0.7);
        z-index: 9999;
        animation: fadeIn 0.3s ease;

        &.is-active {
            display: block;
        }

        .search-popup {
            padding: 0 20px;
            background-color: #fff;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: v.$font-lato;
            font-size: v.$fs-body;
            font-weight: v.$fw-semibold;
            color: #0D0E43;
            position: relative;

            // border: 1px solid #0D0E43;
            &__box {
                width: 50%;
                display: flex;
                align-items: center;
                position: relative;

                input {
                    width: 100%;
                    height: 40px;
                }

                svg {
                    color: #0D0E43;
                    position: absolute;
                    bottom: 50%;
                    transform: translateY(50%);
                    right: 10px;
                    cursor: pointer;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }

            &__icon {
                display: flex;
                gap: 10px;
                margin-right: 50px;

                .user-actions__item {
                    @include mixins.hover-bounce;

                    &:hover {
                        transform: scale(1.1) rotate(0deg) translate(0px, 0px) skewX(0deg);
                        opacity: 1;
                        filter: brightness(1);
                    }
                }
            }
        }

        .logo a {
            font-size: v.$fs-h1;
        }



        .close-btn {
            color: #333;
            font-size: 32px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.3s;
            position: absolute;
            right: -5px;
            top: -5px;

            &:hover {
                color: #999;

            }
        }
    }

    // btn:hover
    button {
        transition: all ease-out 1s;

        &:hover {
            transform: scale(1.1);
        }
    }


    // Responsive
    @media (max-width: v.$breakpoints-sm) {
        .search-box {
            input {
                width: 150px;
            }
        }

        .top-bar {
            font-size: v.$fs-small;
        }

        .user-actions {
            gap: 5px;
        }
    }

    @media (max-width: v.$breakpoints-md) {
        .search-overlay {
            .search-popup {
                flex-direction: column;
                gap: 20px;
                padding: 10px 0;

                &__icon {
                    margin-right: 0px;
                }
            }
        }


    }

    @media (max-width: v.$breakpoints-lg) {
        .top-bar {
            height: fit-content;
            padding: 10px 0;
        }

        .contact-info {
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
        }

    }

    @media (max-width: v.$breakpoints-xl) {
        .more-option {
            display: block;
        }

        .main-header {
            flex-direction: column;
            height: fit-content;
            align-items: start;

            .btn.btn--toggle {
                display: flex;
                position: absolute;
                right: 70px;
                padding: 0;
                width: 40px;
                height: 40px;
            }

            .nav {
                width: 100%;
                flex-direction: column;
                align-items: start;
                background-color: v.$color-bg-card;
                margin: 0;
                gap: 0px;
                padding: 10px 0;

                &__item {
                    margin-left: 3%;
                    width: 93%;
                    padding: 10px 20px;
                }

                &__item:hover {
                    background-color: #fff;
                }

                .dropdown-menu {
                    position: relative;
                    top: 0;
                    left: 10px;
                    display: block;
                    background-color: inherit;
                    box-shadow: none;
                    color: #0D0E43;
                }
            }

            .nav.dropdown-toggle {
                display: none;

                &.is-active {
                    display: flex;
                }
            }

            .search-box {
                display: none;
            }
        }
    }
}

footer {
    background-color: v.$color-bg-main-footer;

    .footer {
        font-family: v.$font-lato;
        font-size: v.$fs-body;
        font-weight: v.$fw-regular;
        color: v.$color-sub-text-color;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 80px;
        // brands
        &__brand {
            .footer__logo {
                font-size: 38px;
                color: v.$color-logo;
                margin-bottom: 31px;
            }

            .footer__newsletter {
                display: flex;
                align-items: center;
                height: 44px;
                border-radius: 3px;
                max-width: 377px;
                width: 100%;
                background-color: v.$color-bg-white;
                padding-left: 20px;
                gap: 10px;
                margin-bottom: 25px;
                &-input {
                    border: none;
                    padding: 2px;
                    flex: 1;
                    min-width: 0;

                    &::placeholder {
                        color: v.$color-sub-text-color;

                    }
                }

                &-btn {
                    margin-right: 2px;
                    flex: 0 0 auto;
                    height: 39px;
                    border-radius: 3px;
                    padding: 0 40px;
                    font-size: 16px;
                }
            }
            .footer__contact{
                &-title{
                    margin-bottom: 10px;
                }
            }
        }

        // navigations
        &__nav {
            display: flex;
            gap: 88px;

            &-title {
                font-size: 22px;
                font-weight: v.$fw-semibold;
                margin-bottom: 42px;
                color: v.$color-logo;
            }

            &-list {
                .footer__nav-item {
                    margin: 21px 0;
                    cursor: pointer;
                    @include mixins.hover-text();
                    &:hover{
                        color: v.$color-muted;
                    }
                }
            }
        }
    }

    // responsive footer
    @media (max-width:1200px) {
        .footer{
            flex-direction: column;
            gap: 50px;
            &__nav{
                justify-content: space-between;
                gap: 10px;
            }
        }
    }
    @media (max-width:576px) {
        .footer{
            font-size: v.$fs-small;
            &__nav{
                &-title{
                    font-size: 18px;
                }
            }
        }
        
    }
}