@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

.hero-slider {
    background-color: v.$color-bg-hero-silder ;

    &__track {
        display: flex;
        align-items: center;

        .hero-img {
            position: relative;

            // hero-slide right
            .hero-slide__img {
                position: absolute;
                width: 629px;
                height: 629px;
            }
        }
    }
}

.section-title {
    text-align: center;
    color: rgba(26, 11, 91, 1);
}

.feature-product {
    margin-top: 100px;
    position: relative;
    padding: 29px 20px 0 20px;
    max-width: 1217px;

    .section-title {
        margin-bottom: 48px;

    }

    .swiper-wrapper {
        align-items: stretch;
        padding-bottom: 70px;
    }

    .swiper-slide {
        height: auto;
    }

    .feature-product__pagination {
        bottom: 0px;
    }

    .feature-product__pagination .swiper-pagination-bullet {
        width: 16px;
        height: 4px;
        border-radius: 16px;
        background: v.$color-muted;
        opacity: .35;
        transition: all 0.2s ease;
    }

    .feature-product__pagination .swiper-pagination-bullet-active {
        width: 24px;
        background: v.$color-btn;
        opacity: 1;
    }

    .feature-product__nav {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: v.$color-bg-main-footer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .feature-product__nav::after {
        font-size: 14px;
        font-weight: v.$fw-bold;
    }

    @media (max-width: v.$breakpoints-md) {
        .feature-product__nav {
            display: none;
        }
    }

    .product-card {
        flex: 1 0 auto;
        background-color: v.$color-bg-card;
        overflow: hidden;
        box-shadow: 0 16px 14px rgba(0, 0, 0, .08);

        /* Media */
        .product-card__media {
            position: relative;
            height: 260px;
            background: #f6f7fb;
            display: grid;
            place-items: center;

            // icon actions
            .product-card__actions {
                position: absolute;
                top: 11px;
                left: 11px;
                display: flex;
                gap: 5px;
                opacity: 0;
                transform: translateY(-6px);
                transition: .25s ease;

                .product-card__icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s ease;

                    svg {
                        color: rgba(29, 180, 231, 1);
                    }


                    &:hover {
                        background: rgba(238, 239, 251, 1);
                        transform: translateY(2px);

                        svg {
                            color: #2F1AC4;
                        }

                    }

                }
            }

            // img
            .product-card__img {
                width: 178px;
                height: 178px;
                display: block;
                transition: transform .35s ease;
            }

            /* CTA button */
            .product-card__cta {
                width: 94px;
                height: 29px;
                padding: 8px 13px;
                background: rgba(8, 209, 95, 1);
                border-radius: 2px;
                font-size: 12px;
                font-weight: v.$fw-medium;

                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%, 10px);
                opacity: 0;
                transition: .25s ease;
                text-decoration: none;

                &:hover {
                    background-color: v.$color-bg-hero-silder;
                    color: v.$color-title;
                }
            }
        }

        // Info
        .product-card__info {
            text-align: center;
            line-height: 100%;
            padding-top: 15px;
            padding-bottom: 17px;
            background: v.$color-bg-white;
            transition: background .25s ease;

            .product-card__title {
                font-family: v.$font-lato;
                font-size: 18px;
                font-weight: v.$fw-bold;
                color: v.$color-muted;
                margin-bottom: 12px;
                transition: color .25s ease;
            }

            .product-card__swatches {
                display: flex;
                justify-content: center;
                gap: 5px;
                margin: 0 0 12px;

                .product-card__dot {
                    width: 14px;
                    height: 4px;
                    border-radius: 10px;
                    display: inline-block;
                }

                .dot--green {
                    background: rgba(5, 230, 183, 1);
                }

                .dot--pink {
                    background: rgba(247, 1, 168, 1);
                }

                .dot--navy {
                    background: rgba(0, 0, 157, 1);
                }
            }

            .product-card__code,
            .product-card__price {
                color: v.$color-title;
                font-weight: v.$fw-regular;
                font-size: v.$fs-small;
                font-family: v.$font-josefin;
                transition: color .25s ease;
            }

            .product-card__code {
                margin-bottom: 12px;
            }
        }
    }

    /* Hover */

    .product-card:hover .product-card__actions {
        opacity: 1;
        transform: translateY(0);
    }

    .product-card:hover .product-card__cta {
        opacity: 1;
        transform: translate(-50%, 0);

    }

    .product-card:hover .product-card__img {
        transform: translateY(6px) scale(0.95);

    }

    .product-card:hover .product-card__info {
        background: rgba(47, 26, 196, 1);
        color: v.$color-white;

        .product-card__code,
        .product-card__price,
        .product-card__title {
            color: v.$color-white;
        }

        .dot--navy {
            background: rgba(255, 234, 193, 1);
        }
    }


}

// Leatest Products
.leatest-product {
    margin-top: 72px;
    margin-bottom: 60px;
    text-align: center;

    .product-tabs {
        margin-top: 19px;
        margin-bottom: 58px;
        display: flex;
        gap: 58px;
        justify-content: center;
        font-size: 18px;
        font-family: v.$font-lato;
        color: v.$color-title;

        &__item {
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                text-decoration: underline;
                color: v.$color-muted;
            }

            &.active {
                text-decoration: underline;
                color: v.$color-muted;
            }
        }
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 120px 30px;


        .grid-item {
            height: 306px;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .product-thumbnail {
                height: 270px;
                background-color: v.$color-bg-card;
                cursor: pointer;
                transition: background 0.3s ease;
                position: relative;

                &__img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all 0.25s ease;
                }

                &__badge {
                    position: absolute;
                    top: 20px;
                    left: 15px;
                    transform: translate(-200px, -100px);
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                &__actions {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    transform: translate(-200px);
                    opacity: 0;
                    transition: all 0.3s ease;

                    .action-btn {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        transition: background 0.3s ease;

                        &:hover {
                            background-color: v.$color-bg-main-footer;
                        }
                    }

                }

                &:hover {
                    background-color: v.$color-bg-white;

                    .product-thumbnail__img {
                        scale: 0.9;
                    }

                    .product-thumbnail__badge,
                    .product-thumbnail__actions {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }

            }

            .product-detail {
                font-family: v.$font-josefin;
                font-weight: v.$fw-regular;
                color: v.$color-title;
                display: flex;
                justify-content: space-between;

                &__name {
                    font-size: v.$fs-body;
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    /* độ dày gạch */
                    text-decoration-color: v.$color-bg-main-footer;
                    /* màu */
                    text-underline-offset: 10px;
                    /* cách chữ */
                }

                &__price {
                    display: flex;
                    gap: 9px;
                    font-size: v.$fs-small;

                    &--old {
                        color: v.$color-muted;
                        text-decoration-line: line-through;
                    }
                }
            }
        }
    }
}

@media (max-width:v.$breakpoints-xl) {
    .leatest-product {
        .product-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:v.$breakpoints-md) {
    .leatest-product {
        .product-grid {
            grid-template-columns: repeat(1, 300px);
            justify-content: center;
        }

        .product-tabs {
            gap: 20px;
            flex-direction: column;

        }
    }
}

@media (max-width:400px) {
    .leatest-product {
        .product-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}

// features
.features {
    margin-bottom: 135px;
    .section-title {
        margin-bottom: 55px;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .features-item {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 61px;
            padding-bottom: 45px;

            &__icon {
                width: 65px;
                height: 65px;
                margin-bottom: 22px;
            }

            &__title {
                font-size: 22px;
                font-weight: v.$fw-semibold;
                line-height: 100%;
                color: v.$color-title;
                font-family: v.$font-josefin;
                margin-bottom: 20px;
            }

            &__text {
                max-width: 80%;
                font-size: v.$fs-body;
                font-family: v.$font-lato;
                color: rgba(26, 11, 91, 0.3);
                line-height: 25.6px;
                text-align: center;

            }
        }
    }
}

@media (max-width:v.$breakpoints-xl) {
    .features {
        &-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:v.$breakpoints-sm) {
    .features {
        &-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}