@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

.hero-slider {
    background-color: v.$color-bg-hero-silder ;

    &__track {
        display: flex;
        align-items: center;

        .hero-img {
            position: relative;

            // hero-slide right
            .hero-slide__img {
                position: absolute;
                width: 629px;
                height: 629px;
            }
        }
    }
}

.feature-product {
    margin-top: 100px;
    position: relative;
    padding: 29px 20px 0 20px;
    max-width: 1217px;

    .section-title {
        text-align: center;
        margin-bottom: 48px;
        color: rgba(26, 11, 91, 1);
    }

    .swiper-wrapper {
        align-items: stretch;
        padding-bottom: 70px;
    }

    .swiper-slide {
        height: auto;
    }

    .feature-product__pagination {
        bottom: 0px;
    }

    .feature-product__pagination .swiper-pagination-bullet {
        width: 16px;
        height: 4px;
        border-radius: 16px;
        background: v.$color-muted;
        opacity: .35;
        transition: all 0.2s ease;
    }

    .feature-product__pagination .swiper-pagination-bullet-active {
        width: 24px;
        background: v.$color-btn;
        opacity: 1;
    }

    .feature-product__nav {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: v.$color-bg-main-footer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .feature-product__nav::after {
        font-size: 14px;
        font-weight: v.$fw-bold;
    }

    @media (max-width: v.$breakpoints-md) {
        .feature-product__nav {
            display: none;
        }
    }

    .product-card {
        flex: 1 0 auto;
        background-color: v.$color-bg-card;
        overflow: hidden;
        box-shadow: 0 16px 14px rgba(0, 0, 0, .08);

        /* Media */
        .product-card__media {
            position: relative;
            height: 260px;
            background: #f6f7fb;
            display: grid;
            place-items: center;

            // icon actions
            .product-card__actions {
                position: absolute;
                top: 11px;
                left: 11px;
                display: flex;
                gap: 5px;
                opacity: 0;
                transform: translateY(-6px);
                transition: .25s ease;

                .product-card__icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s ease;

                    svg {
                        color: rgba(29, 180, 231, 1);
                    }


                    &:hover {
                        background: rgba(238, 239, 251, 1);
                        transform: translateY(2px);

                        svg {
                            color: #2F1AC4;
                        }

                    }

                }
            }

            // img
            .product-card__img {
                width: 178px;
                height: 178px;
                display: block;
                transition: transform .35s ease;
            }

            /* CTA button */
            .product-card__cta {
                width: 94px;
                height: 29px;
                padding: 8px 13px;
                background: rgba(8, 209, 95, 1);
                border-radius: 2px;
                font-size: 12px;
                font-weight: v.$fw-medium;

                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%, 10px);
                opacity: 0;
                transition: .25s ease;
                text-decoration: none;

                &:hover {
                    background-color: v.$color-bg-hero-silder;
                    color: v.$color-title;
                }
            }
        }

        // Info
        .product-card__info {
            text-align: center;
            line-height: 100%;
            padding-top: 15px;
            padding-bottom: 17px;
            background: v.$color-bg-white;
            transition: background .25s ease;

            .product-card__title {
                font-family: v.$font-lato;
                font-size: 18px;
                font-weight: v.$fw-bold;
                color: v.$color-muted;
                margin-bottom: 12px;
                transition: color .25s ease;
            }

            .product-card__swatches {
                display: flex;
                justify-content: center;
                gap: 5px;
                margin: 0 0 12px;

                .product-card__dot {
                    width: 14px;
                    height: 4px;
                    border-radius: 10px;
                    display: inline-block;
                }

                .dot--green {
                    background: rgba(5, 230, 183, 1);
                }

                .dot--pink {
                    background: rgba(247, 1, 168, 1);
                }

                .dot--navy {
                    background: rgba(0, 0, 157, 1);
                }
            }

            .product-card__code,
            .product-card__price {
                color: v.$color-title;
                font-weight: v.$fw-regular;
                font-size: v.$fs-small;
                font-family: v.$font-josefin;
                transition: color .25s ease;
            }

            .product-card__code {
                margin-bottom: 12px;
            }
        }
    }

    /* Hover */

    .product-card:hover .product-card__actions {
        opacity: 1;
        transform: translateY(0);
    }

    .product-card:hover .product-card__cta {
        opacity: 1;
        transform: translate(-50%, 0);

    }

    .product-card:hover .product-card__img {
        transform: translateY(6px) scale(0.95);

    }

    .product-card:hover .product-card__info {
        background: rgba(47, 26, 196, 1);
        color: v.$color-white;

        .product-card__code,
        .product-card__price,
        .product-card__title {
            color: v.$color-white;
        }

        .dot--navy {
            background: rgba(255, 234, 193, 1);
        }
    }


}