@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

#notfound {
    display: flex;
    flex-direction: column;
    align-items: center;

    .notfound-media {
        max-width: 913px;
        width: 100%;
        aspect-ratio: calc(913/527);
        margin-bottom: 62px;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .notfound-btn{
        max-width: 165px;
        height: 44px;
        border-radius: 3px;
        @include mixin.transition-regular();
        @include mixin.hover-btn-p();
    }
}

.logo-brands{
    @include mixin.brands();
}