@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

#product-detail {
    margin-top: 121px;

    .product-summary {
        &__grid {
            display: grid;
            grid-template-columns: 151px 375px 1fr;
            column-gap: 21px;
            align-items: center;
            box-shadow: 0px 0px 25px 10px rgba(246, 244, 253, 1);
            padding: 13px;
            border-radius: 2px;
        }

        &__thumbs {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__thumb {
            width: 100%;
            aspect-ratio: calc(151/155);
            overflow: hidden;

            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            margin-left: 20px;
            font-family: v.$font-josefin;
        }

        &__title {
            font-size: v.$fs-h3;
            font-weight: v.$fw-semibold;
            line-height: 100%;
            margin-bottom: 13px;
        }

        &__rating {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-bottom: 14px;
        }

        &__stars {
            display: flex;
            gap: 4px;
            margin-bottom: 3px;
        }

        &__price {
            display: flex;
            align-items: center;
            gap: 18px;
            font-size: v.$fs-body;
            font-weight: v.$fw-regular;
            line-height: 29px;
            color: v.$color-title;
            margin-bottom: 12px;

            &-old {
                color: v.$color-muted;
                text-decoration: line-through;
            }
        }

        &__option {
            font-size: v.$fs-body;
            font-weight: v.$fw-semibold;
            line-height: 100%;
            margin-bottom: 12px;
        }

        &__desc {
            font-size: v.$fs-body;
            font-weight: v.$fw-semibold;
            line-height: 29px;
            color: v.$color-sub-text-color;
            margin-bottom: 34px;
        }

        &__actions {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-left: 10%;
            color: v.$color-title;
            margin-bottom: 17px;
        }

        &__add {
            @include mixin.transition-regular();

            &:hover {
                color: v.$color-muted;
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }

        &__wish {
            width: 31px;
            height: 31px;
            border-radius: 50%;
            box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: v.$fw-regular;
            font-size: v.$fs-body;
            line-height: 29px;
            @include mixin.transition-regular();

            &:hover {
                transform: scale(1.1);
            }
        }

        &__meta {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: v.$fs-body;
            font-weight: v.$fw-semibold;
            line-height: 29px;
            color: v.$color-title;

            &-row {
                display: flex;
                gap: 16px;
                align-items: center;
            }

            &-val {
                display: flex;
                gap: 10px;
            }
        }
    }

    .product-tabs {
        background-color: v.$color-bg-main-header;
        margin-top: 140px;
        margin-bottom: 126px;

        .container {
            padding-top: 100px;
            padding-bottom: 120px;
            font-family: v.$font-josefin;
            color: v.$color-title;
        }

        &__head {
            display: flex;
            font-weight: v.$fw-semibold;
            font-size: 24px;
            line-height: 100%;
            gap: 63px;
            margin-bottom: 61px;
        }

        &__tab {
            @include mixin.transition-regular();

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }

        &__panel {
            @include mixin.transition-regular();
            @include mixin.tabs();
        }

        &__title,
        &__subtitle {
            font-size: v.$fs-h4 ;
            font-weight: v.$fw-semibold;
            margin-bottom: 14px;
            color: v.$color-title;
        }

        &__text {
            color: v.$color-sub-text-color;
            font-size: v.$fs-body;
            line-height: 29px;
            margin-bottom: 36px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 8px;
            color: v.$color-sub-text-color;
        }

        &__bullet {
            cursor: pointer;
            color: rgba(0, 0, 0, 1);
            @include mixin.transition-regular();

            &:hover {
                color: rgba(47, 26, 196, 1);
            }
        }
    }

    .related-products {
        &__title {
            font-size: v.$fs-h3;
            line-height: 100%;
            margin-bottom: 47px;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 30px;
        }

        &__card {
            width: 100%;
        }
        &__card:hover .related-products__media{
            transform: scale(0.9);
        }

        &__media {
            display: inline-block;
            width: 100%;
            aspect-ratio: calc(270/340);
            overflow: hidden;
            margin-bottom: 20px;
            @include mixin.transition-regular();
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__body {
            &--top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
            }
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: 3px;
        }

        &__name {
            font-weight: v.$fw-semibold;
            font-size: v.$fs-body;
            line-height: 100%;
            color: v.$color-title;

        }

        &__price {
            font: v.$fw-regular 13px v.$font-josefin;
            color: v.$color-title;
            line-height: 100%;
        }

    }

    @media (max-width:992px) {
        .product-summary {
            &__grid {
                grid-template-columns: 1fr;
                row-gap: 10px;
            }

            &__thumbs {
                flex-direction: row;
                gap: 10px;
            }

            &__info {
                margin-top: 20px;
            }
        }
        .related-products{
            &__grid{
                grid-template-columns: repeat(2, 1fr);
                row-gap: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        .product-tabs {
            &__head {
                gap: 20px;
            }
        }

    }

    @media (max-width:576px) {
        .product-tabs {
            &__head {
                font-size: v.$fs-h4;
                justify-content: center;
                flex-wrap: wrap;
            }

            &__tab {
                flex-shrink: 0;
            }

            &__title {
                font-size: v.$fs-body;
            }

            &__text {
                font-size: v.$fs-small;
            }

            &__item {
                font-size: v.$fs-small;
            }
        }
        .related-products{
            &__grid{
                grid-template-columns: 1fr;
            }
        }
    }

    @media (max-width:392px) {
        .product-summary {
            &__info {
                font-size: v.$fs-small;
            }

            &__title {
                font-size: 28px;
            }
        }

    }
}