@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mixin;

.blog {
    margin-top: 125px;

    &__grid {
        display: flex;
        gap: 60px;
    }

    // blog-main
    &__main {
        max-width: 870px;
        flex-shrink: 1;

        .js-tab-panel {
            display: none;

            &.active {
                display: block;
            }
        }

        .post-card {
            width: 100%;
            margin-bottom: 40px;

            &__media {
                width: 100%;
                aspect-ratio: calc(870/453);
                margin-bottom: 27px;
                display: inline-block;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
                @include mixin.transition-regular();

                &:hover {
                    transform: scale(0.98);
                }
            }

            &__meta {
                display: flex;
                align-items: center;
                gap: 30px;
            }

            &__tag,
            &__date {
                display: flex;
                align-items: center;
                gap: 10px;
                font: v.$fw-regular v.$fs-small v.$font-josefin;
                color: v.$color-title;
                line-height: 100%;
                margin-bottom: 28px;

                p {
                    padding: 5px 43px;
                    border-radius: 2px;

                    &.pink {
                        background-color: #FFE7F9;
                    }

                    &.orange {
                        background-color: #FFECE2;
                    }
                }
            }

            &__title {
                font-size: 30px;
                color: v.$color-title;
                @include mixin.transition-regular();

                &:hover {
                    color: v.$color-muted;
                }

                a {
                    margin-bottom: 23px;
                    display: inline-block;
                }
            }

            &__excerpt {
                font: v.$fw-regular v.$fs-body v.$font-lato;
                line-height: 25.6px;
                color: v.$color-sub-text-color;
                margin-bottom: 31px;
            }

            &__more {
                display: block;
                font: v.$fw-semibold 18px v.$font-lato;
                line-height: 100%;
                display: flex;
                align-items: center;
                gap: 3px;
                color: v.$color-title;
                @include mixin.transition-regular();

                &:hover {
                    color: v.$color-muted;
                }

                svg {
                    margin-top: 3px;
                }
            }
        }
    }

    // blog-aside
    &__aside {
        max-width: 270px;
        width: 100%;

        .filter-item.active {
            color: v.$color-muted;
        }

        .sidebar-box {
            margin-bottom: 37px;

            &__title {
                font-weight: v.$fw-semibold;
                font-size: v.$fs-h4;
                color: v.$color-title;
                margin-bottom: 15px;
            }

            &__search {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                border: 1px solid #BDBDD8;
                padding: 12px;
                border-radius: 2px;

                &-input {
                    flex: 1 1 auto;
                    border: none;
                    outline: none;

                    &::placeholder {
                        color: #1518751A;
                    }
                }

                svg {
                    flex: 0 0 auto;
                }
            }

            // categories
            &__chips {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 12px;
            }

            &__chip {
                font: v.$fw-regular v.$fs-small v.$font-josefin;
                max-width: 122px;
                width: 100%;
                height: 30px;
                color: v.$color-title;
                text-align: left;
                @include mixin.transition-regular();

                &:hover {
                    color: v.$color-muted;
                }
            }

            // mini-post
            .mini-posts {
                display: flex;
                flex-direction: column;
                gap: 22px;

                &__item {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    @include mixin.transition-regular();

                    &:hover {
                        transform: scale(0.99);
                    }

                    &:hover .mini-posts__name {
                        color: v.$color-muted ;

                    }
                }

                &__media {
                    width: 70px;
                    height: 51px;
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    object-fit: cover;
                }

                &__name {
                    font: v.$fw-regular v.$fs-small v.$font-josefin;
                    line-height: 100%;
                    color: v.$color-title;
                    @include mixin.transition-regular();


                }

                &__date {
                    font: v.$fw-semibold 11px v.$font-lato;
                    color: v.$color-sub-text-color;
                    margin-top: 5px;
                }
            }

            // offer
            .offer-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px 15px;

                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include mixin.transition-regular();

                    &:hover {
                        transform: scale(0.98);
                    }
                }

                &__media {
                    width: 100%;
                    aspect-ratio: calc(126/80);
                    margin-bottom: 9px;
                    overflow: hidden;
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &__name {
                    font: v.$fw-semibold v.$fs-small v.$font-lato;
                    line-height: 100%;
                    color: v.$color-title;
                    margin-bottom: 6px;
                }

                &__price {
                    font: v.$fw-semibold 12px v.$font-lato;
                    line-height: 100%;
                    color: v.$color-sub-text-color;
                }
            }

            // social
            .social {
                box-shadow: 0px 8px 40px 0px #31208A0D;
                border-radius: 3px;
                padding: 8px 11px;
                width: fit-content;
                display: flex;
                gap: 14px;

                &__btn {
                    @include mixin.transition-regular();

                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }

            // tag
            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 41px;

                &__item {
                    text-decoration: underline;
                    @include mixin.transition-regular();
                    font: v.$fw-regular v.$fs-body v.$font-lato;
                    color: v.$color-title;

                    &:hover {
                        text-underline-offset: 3px;
                        color: v.$color-muted;
                    }

                    &.active {
                        color: v.$color-muted;
                    }
                }
            }

        }

        &--search {
            margin-bottom: 52px;
        }

        &--categories {
            .sidebar-box__title {
                margin-bottom: 25px;
            }
        }

    }

    // blog-option
    &__option {
        width: 100%;
        display: none;
        position: absolute;
        right: 0;

        .burger-icon {

            display: none;

        }

        .burger {
            display: none;
        }
    }

    // blog-detail
    &-detail {
        &__p {
            font: v.$fw-regular v.$fs-body v.$font-lato;
            line-height: 25.6px;
            color: v.$color-sub-text-color;
            margin-bottom: 43px;
        }

        &__quote {
            background-color: v.$color-bg-card;
            border-left: 2px solid v.$color-muted;
            padding: 35px 21px 18px 16px;
            margin-bottom: 43px;

            &-text {
                font: v.$fw-semibold 18px v.$font-josefin;
                line-height: 35px;
                color: v.$color-sub-text-color;
                font-style: italic;
            }
        }

        &__media {
            display: flex;
            gap: 30px;
            margin-bottom: 43px;

            &-item {
                width: 100%;
                aspect-ratio: calc(417.74/245);
                position: relative;
                @include mixin.transition-regular();

                &:hover {
                    transform: scale(0.98);
                }
            }

            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                @include mixin.transition-regular();

                &:hover {
                    scale: 1.05;
                }
            }

            &-overlay {
                position: absolute;
                inset: 0;
                background: rgba(15, 23, 42, 0.45);
                visibility: visible;
                pointer-events: none;
                transition: opacity 0.2s ease, visibility 0.2s ease;
            }
        }

        &__related {
            margin-bottom: 110px;

            .related-mini {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 12px;
                height: auto;

                &__card {
                    width: 100%;

                    &:hover {
                        .related-mini__img {
                            transform: scale(0.98);
                        }

                        .related-mini__name {
                            color: v.$color-muted;
                        }
                    }
                }

                &__thumb {
                    width: 100%;
                    aspect-ratio: calc(209.54/254.7);
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include mixin.transition-regular();
                }

                &__body {
                    margin-top: 15px;
                }

                &__name {
                    font-size: 19.68px;
                    margin-left: 23px;
                    font-weight: v.$fw-regular;
                    letter-spacing: 0.01em;
                    @include mixin.transition-regular();
                }

                &__price {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    font: v.$fw-regular v.$fs-small v.$font-josefin ;
                    margin-top: 17px;

                    &-old {
                        text-decoration: line-through;
                        color: v.$color-muted;
                    }
                }

                &__rating {
                    display: flex;
                    margin-left: 9px;
                }

                &__star {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        &__social {
            display: flex;
            border-top: 1px solid #F7F8FB;
            justify-content: center;
            gap: 14px;

            &-btn {
                margin-top: 27px;
                margin-bottom: 27px;
                @include mixin.transition-regular();

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .post-nav {
            display: flex;
            justify-content: space-between;
            background-color: v.$color-bg-card;
            padding: 13px 22px;
            margin-bottom: 111px;

            &__link {
                font: v.$fw-medium v.$fs-body v.$font-lato;
                line-height: 100%;
                color: v.$color-sub-text-color;
                @include mixin.transition-regular();

                &:hover {
                    color: #949495;
                }

                &:active {
                    color: v.$color-muted;
                }
            }
        }

        .post-list {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 135px;

            &__item {
                display: flex;
                align-items: center;
                padding: 15px 30px 15px 14px;
                box-shadow: 0px 0px 17px 0px #00000040;
                gap: 15px;
                width: 75%;
                @include mixin.transition-regular();

                &:hover {
                    box-shadow: 0px 0px 10px 0px #00000040;
                }
            }

            &__media {
                max-width: 103.16px;
                aspect-ratio: calc(103.16/106.56);
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 2.27px;
            }

            &__info {
                &-header {
                    display: flex;
                    gap: 32px;
                    align-items: center;
                    margin-bottom: 10px;
                }
            }

            &__title {
                font-size: 18px;
                font-weight: v.$fw-semibold;
            }

            &__meta,
            &__desc {
                font: v.$fw-regular 12.47px v.$font-lato;
                color: v.$color-sub-text-color;
            }

            &__desc {
                line-height: 28.34px;
            }
        }

        .comment-form {
            display: flex;
            flex-direction: column;
            width: 80%;

            &__row {
                display: flex;
                gap: 33px;
                margin-bottom: 45px;
            }

            &__input {
                width: 100%;
                height: 43px;
                border: 1.12px solid #8A8FB9;
                display: flex;
                align-items: center;
                gap: 5px;

                input {
                    width: 100%;
                    outline: none;
                    border: none;

                    &::placeholder {
                        font: v.$fw-regular v.$fs-body v.$font-lato;
                        color: v.$color-sub-text-color;
                    }
                }

                svg {
                    margin-left: 9px;
                }
            }

            &__textarea {
                height: 205px;
                border: 1.12px solid #8A8FB9;
                display: flex;
                gap: 5px;
                padding: 20px;
                margin-bottom: 22px;

                svg {
                    margin-top: 7px;
                }

                textarea {
                    resize: none;
                    height: 100%;
                    width: 100%;
                    border: none;
                    outline: none;

                    &::placeholder {
                        font: v.$fw-regular v.$fs-body v.$font-lato;
                        line-height: 100%;
                        letter-spacing: 0.01em;
                        color: v.$color-sub-text-color;
                    }
                }
            }

            &__check {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 46px;

                &-text {
                    font: v.$fw-medium v.$fs-small v.$font-lato;
                    line-height: 100%;
                    letter-spacing: 0.02em;
                    color: v.$color-sub-text-color;

                }
            }

            &__checkbox {
                border: 1px solid #8A8FB9;
            }

            &__btn {
                border-radius: 2.25px;
                @include mixin.transition-regular();
                @include mixin.hover-btn-p();
            }
        }
    }

    @media (max-width:992px) {
        position: relative;

        &__aside {
            display: none;
        }

        &__option {
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            z-index: 1000;

            &.burger.active {
                .blog__aside {
                    background-color: v.$color-white;
                    display: block;
                    position: relative;
                    padding: 20px;
                    width: 400px;
                    border-radius: 3px;
                }

                .burger-icon {
                    position: sticky;
                    top: 20%;
                }

                .blog__overlay {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }

            .burger-icon {
                cursor: pointer;
                @include mixin.transition-regular();

                &:hover {
                    transform: scale(1.1);
                }

                width: 30px;
                height: 30px;
                background-color: v.$color-white;
                padding: 5px;
                position: absolute;
                top: -50px;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                box-shadow: 0px 0px 10px 5px #f3ebebbf;
            }
        }

        &__overlay {
            position: fixed;
            inset: 0;
            background: rgba(15, 23, 42, 0.45);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 0.2s ease, visibility 0.2s ease;
        }
    }

    @media (max-width:768px) {
        &-detail {
            &__related {
                .related-mini {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 100px 50px;
                }
            }
        }

    }

    @media (max-width:576px) {
        &-detail {
            &__related {
                .related-mini {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 100px 50px;
                }
            }
            .post-list{
                &__item{
                    width: 100%;
                }
            }
            .comment-form{
                width: 100%;
            }
        }

    }


}

.logo-brands {
    @include mixin.brands();
}