@use "../abstracts/variables" as v;

@mixin hover-bounce($scale: 1.1,
    $duration: v.$tr-slow,
    $ease: v.$ease-bounce,
    $opacity: 1,
    $brightness: 1) {
    transition-property: transform, opacity, filter;
    transition-duration: $duration;
    transition-timing-function: $ease;
    transform: scale(1);

    filter: brightness(0.95);

    @content; // cho phép custom thêm nếu cần
}

@mixin hover-text {}

@mixin transition-regular {
    transition: all 0.3s ease;
}

@mixin hover-btn-p {
    &:hover {
        background-color: v.$color-bg-btn-p;
    }
}

@mixin hover-card {
    &:hover {
        scale: 0.9;
    }
}

@mixin link-overlay {
    position: absolute;
    inset: 0;
}

@mixin page-header {
    background-color: v.$color-bg-main-header;
    height: 286px;
    display: flex;
    align-items: center;

    &__title {
        color: rgba(16, 23, 80, 1);
        line-height: 100%;
        margin-bottom: 10px;
    }

    &__breadcrumb {
        gap: 5px;
        display: flex;

        &-link {
            font: v.$fw-medium v.$fs-body v.$font-lato;
            line-height: 100%;
        }

        &-link.active {
            color: v.$color-muted;
        }
    }
}

@mixin catalog-toolbar {
    margin-top: 124px;
    margin-bottom: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        &-meta {
            font: v.$fw-regular 12px v.$font-lato;
            line-height: 100%;
            margin-top: 10px;
        }
    }

    &__right {
        display: flex;
        gap: 30px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__label {
        margin-right: 10px;
        font: v.$fw-regular v.$fs-body v.$font-lato;
        line-height: 100%;
        color: v.$color-title;
    }

    &__input {
        height: 25px;
        max-width: 55px;
        border: 1px solid rgba(231, 230, 239, 1);
        color: v.$color-sub-text-color;
        font: v.$fw-regular 12px v.$font-lato ;
        display: flex;
        align-items: center;
    }

    &__select {
        padding-left: 10px;
        width: 96px;
        height: 28px;
        border: 1px solid rgba(231, 230, 239, 1);
        color: v.$color-sub-text-color;
        font: v.$fw-regular 12px v.$font-lato ;
        line-height: 18px;
        display: flex;
        align-items: center;
        gap: 5px;

    }

    &__field {
        display: flex;
        align-items: center;

        .dropbtn {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    &__view {
        margin-top: 5px;
    }

    @media (max-width:992px) {
        flex-direction: column;
        gap: 15px;

        &__left {
            text-align: center;
        }
    }
    @media (max-width:430px) {
        &__right{
            gap: 5px;
        }
        
    }
    @media (max-width:576px) {
        &__left {
            &-title {
                font-size: v.$fs-body;
            }

            &-meta {
                font-size: 12px;
            }
        }

        &__label {
            font-size: v.$fs-small;
        }

    }

}


@mixin dropdown {
    .dropdown {
        position: relative;
    }

    .dropdown__menu {
        display: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translateY(8px);
        background-color: v.$color-bg-card;
        width: 100%;
    }

    .dropdown__item {
        padding: 10px;
        font: v.$fw-regular v.$fs-body v.$font-lato;
        cursor: pointer;

        &:hover {
            background-color: v.$color-bg-white;
        }
    }

    .dropdown.active .dropdown__menu {
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

}

@mixin tabs {
    opacity: 0;
    display: none;
    &.active {
        opacity: 1;
        display: grid;
    }

}