@use "../abstracts/variables" as v;

@mixin hover-bounce($scale: 1.1,
    $duration: v.$tr-slow,
    $ease: v.$ease-bounce,
    $opacity: 1,
    $brightness: 1) {
    transition-property: transform, opacity, filter;
    transition-duration: $duration;
    transition-timing-function: $ease;
    transform: scale(1);

    filter: brightness(0.95);

    @content; // cho phép custom thêm nếu cần
}

@mixin hover-text {}

@mixin transition-regular {
    transition: all 0.3s ease;
}

@mixin hover-btn-p {
    &:hover {
        background-color: v.$color-bg-btn-p;
    }
}

@mixin hover-card {
    &:hover {
        scale: 0.9;
    }
}

@mixin link-overlay {
    position: absolute;
    inset: 0;
}