@use "../abstracts/variables" as v;

@mixin hover-bounce($scale: 1.1,
    $duration: v.$tr-slow,
    $ease: v.$ease-bounce,
    $opacity: 1,
    $brightness: 1) {
    transition-property: transform, opacity, filter;
    transition-duration: $duration;
    transition-timing-function: $ease;
    transform: scale(1);

    filter: brightness(0.95);

    @content; // cho phép custom thêm nếu cần
}

@mixin hover-text {}

@mixin transition-regular {
    transition: all 0.3s ease;
}

@mixin hover-btn-p {
    &:hover {
        background-color: v.$color-bg-btn-p;
    }
}

@mixin hover-card {
    &:hover {
        scale: 0.9;
    }
}

@mixin link-overlay {
    position: absolute;
    inset: 0;
}

@mixin page-header {
    background-color: v.$color-bg-main-header;
    height: 286px;
    display: flex;
    align-items: center;

    &__title {
        color: rgba(16, 23, 80, 1);
        line-height: 100%;
        margin-bottom: 10px;
    }

    &__breadcrumb {
        gap: 5px;
        display: flex;

        &-link {
            font: v.$fw-medium v.$fs-body v.$font-lato;
            line-height: 100%;
        }

        &-link.active {
            color: v.$color-muted;
        }
    }
}