@use "../abstracts/variables" as v;

@mixin hover-bounce(
    $scale: 1.1,
    $duration: v.$tr-slow,
    $ease: v.$ease-bounce,
    $opacity: 1,
    $brightness: 1) {
    transition-property: transform, opacity, filter;
    transition-duration: $duration;
    transition-timing-function: $ease;
    transform: scale(1);

    filter: brightness(0.95);

    @content; // cho phép custom thêm nếu cần
}